.App{
  display: flex;
  margin: 20%;
  justify-content: center;
}

#container{
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.heading{
  display: flex;
  flex-direction: row;
}

.header{
  margin: 30px;
}

input{
  padding: 5px;
}

.entry{
  display: flex;
  flex-direction: row;
}

.groupButton{
  width: 50%;
  align-self: center;
  margin: 15px;
}

.output{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.output-order{
  display: flex;
  flex-direction: column;
}

.output-item{
  align-self: center;
}
